@font-face {
    font-family: 'GT Walsheim Pro';
    font-weight: 300;
    font-size: normal;
    font-display: swap;
    src: url(../fonts/GT-WalsheimPro-Light.ttf);
}

@font-face {
    font-family: 'GT Walsheim Pro';
    font-weight: 400;
    font-size: normal;
    font-display: swap;
    src: url(../fonts/GT-WalsheimPro-Regular.ttf);
}

@font-face {
    font-family: 'GT Walsheim Pro';
    font-weight: 500;
    font-size: normal;
    font-display: swap;
    src: url(../fonts/GT-WalsheimPro-Medium.ttf);
}
